.custom-teaser > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 283px;
    height: 300px;
    border: 2px solid yellowgreen;
    padding: 15px;
}

.custom-teaser img {
    width: 45px;
    height: 45px;
}

@media (min-width: 900px) {
    .custom-teaser > div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .custom-teaser > div > div {
        flex: 1;
    }

    .custom-teaser > div > div:first-of-type {
        margin-left: unset;
    }
}

/*  */
.custom-teaser {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 15px;
}

.custom-teaser > div > div:first-of-type {
    height: 75px;
    min-height: 75px;
    max-height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 7px 3.9px 7.4px 0.6px rgba(200, 229, 253, 0.3);
    background-image: linear-gradient( to top, rgba(170, 215, 255, 0.5), rgba(228, 210, 255, 0.5) );
    transition: 0.25s;
}

.custom-teaser > div > div:first-of-type:hover {
    transform: scale(1.05,1.05);
}

.custom-teaser > div > div:first-of-type > picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
}

.custom-teaser > div > div {
    text-align: center;
}

/* .custom-teaser > div > div > h1, h2, h3, h4, h5, h6, p {
    height: 150px;
}
 */
.custom-teaser > div > div > h5 {
    font-size: 16px;
}

.custom-teaser > div > div:nth-child(2) {
    height: 100px;
    margin-top: 20px;
}

.custom-teaser > div > div:nth-child(2) > :nth-child(1) {
    height: 70px;
}

.custom-teaser .button {
    color: #ffffff !important;
    background-color: #000000 !important;
    line-height: 0.7 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-top: 45px !important;
}
/* @keyframes pulse {
    0% { 
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(1.05, 1.05);
    }    
}
 */

